<% posts.each do |post| %>
  <div class="col-sm-12">
    <li class="media ">
      <img class="mr-2 rounded" src="<%= gravatar_url(post.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %>
          <%= link_to post.title, post_path(post.id) %>
          </span>
        </div>
        <div>
          <p><%= post.description %></p>
        </div>
      </div>
    <%= render 'favorites/like_button', post: post %>
    </li>
  </div>
<% end %>
<%= paginate posts %>