<% if logged_in? %>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @post, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :title, '店名' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category_id, '場所の種類' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択して下さい" %>
      </div>
      
      <div class="form-group">
        <%= f.label :url, 'URL' %>
        <%= f.text_field :url, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :weekday_open_time, '平日の営業時間' %>
        <%= f.text_field :weekday_open_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :holiday_open_time, '休日の営業時間' %>
        <%= f.text_field :holiday_open_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, '説明' %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
      
      <!--<p>カフェや居酒屋、バーについての記録を登録する場合、下記も記入いただければ幸いです。</p>-->
      
      <div class="form-group">
        <%= f.label :image, '画像' %>
        <%= f.file_field :image %>
      </div>

      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>  

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the MensPlaceRecorder</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>