<div class="col-md-12 mb-6">
  <h1><%= @post.title %> の場所詳細ページ</h1> 
    <div class="col-sm-2 mb-4">
      <%= render 'favorites/like_button', post: @post %>
    </div>
  <p>店名：<%= @post.title %></p>
  <p>カテゴリ： <%= @category.name %></p>
  <p>住所： <%= @post.address %></p>
  <p>営業時間（平日）： <%= @post.weekday_open_time %></p>
  <p>営業時間（休日）： <%= @post.holiday_open_time %></p>
  <p>説明：<%= @post.description %></p>
  
    <p>
      <strong>Image:</strong>
      <% if @post.image? %>
        <%= image_tag @post.image.url %>
      <% else %>
        <p>No Image</p>
      <% end %>
    </p>
  
  

</div>