<h1><%= @post.title %> の場所詳細ページ</h1>

<p>title <%= @post.title %></p>
<p>category <%= @category.name %></p>

<p><%= @post.description %></p>

<div class="col-sm-8">
  <p>
    <strong>Image:</strong>
    <%= image_tag @post.image.url if @post.image? %>
  </p>
</div>
