<div class="col-sm-10">
<%= @post.title %> の場所詳細ページ
</div>
<div class="col-sm-2">
<%= render 'favorites/like_button', post: @post %>
</div>
<p>title <%= @post.title %></p>
<p>category <%= @category.name %></p>

<p><%= @post.description %></p>

<div class="col-sm-8">
  <p>
    <strong>Image:</strong>
    <%= image_tag @post.image.url if @post.image? %>
  </p>
</div>
